<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head.ejs') %>
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <%- include ('./partials/navbar.ejs') %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="update">
      <form method="POST" action="/conference" enctype="multipart/form-data">
        <div class="my-auto item" id="documents">
          
        <h4 style="color:black;font-size:35px;margin-left:40%;"> Conference</h4>
        </br>
        <input id="id" name="id" type="hidden" value="<%- id %>">
        <label > Conference Date </label></br>
        <input id="cdate" type="text" name="cdate" value="<%- cdate %>" style="width:24%;padding:5px;"/></br>
        
        <label > Conference Title </label></br>
        <input id="ct" type="text" name="ct" value="<%- ct %>"/>

        <label > Research Title </label></br>
        <input id="crpt" type="text" name="crpt" value="<%- crpt %>"/>

        <label> International / National </label></br>
        <select id="ci" name="ci" style="width: 25%;padding:5px;">
        <option value="Inter" <%= ci == 'Inter' ? 'selected' : '' %> > International </option>
        <option value="Nat" <%= ci == 'Nat' ? 'selected' : '' %> > National </option>
        </select>
        </br>

        <label> Main Author </label></br>
        <select id="cma" name="cma" style="width: 25%;padding:5px;">
        
        <option value="Yes" <%= cma == 'Yes' ? 'selected' : '' %> > Yes </option>
        <option value="No" <%= cma == 'No' ? 'selected' : '' %> > No </option>
        </select>
        </br>

        <label >ISSN Number </label></br>
        <input id="cissn" type="text" name="cissn" value="<%- cissn %>"/>

        <label > DUI </label></br>
        <input id="cdui" type="text" name="cdui" value="<%- cdui %>"/>
        
        <label> Upload Certificate </label></br>
        <div class="fallback">
        <input name="ccerti" type="file" multiple id="ccerti" />
        </div>

    </div>
      <button class="btn btn--radius-2 btn--red" type="submit"> Upload </button>
    </div>
  </form>
  </section>
  </div>
   
  <%- include ('./partials/bootjs.ejs') %>
  <script>
    $( function() {
      $( "#cdate" ).datepicker();
    } );
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</body>

</html>