<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbar %>
    </nav>

    <div class="container-fluid p-0" style="width:69%;">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <% var name = data.firstname +  " " + data.middlename + " " + data.lastname; %>
          <h2 class="mb-5" id="teacher-name"><%= name %></h2>
          <div class="subheading mb-1" id="title">Designation: <%= data.title %></div>
          <div class="subheading mb-1" id="dept">Department: <%= data.dept %></div>
          <div class="subheading mb-1" id="dept">Area of Specialization: <%= data.aos %></div>

          <% var start = parseInt(data.tduration.substring(0,4)); %>
          <% var end = data.tduration.substring(6); %>
          <%   var exp = 0; %>
          <%  if (end = "Present"){ %>
            <%    var year = new Date().getFullYear(); %>
            <%    exp = year - start; %>
          <%  }else{ %>
            <%   exp = parseInt(end) - start; %>
          <% } %>
          <div class="subheading mb-1" id="address">Experience: <%= exp %></div>
          <div class="subheading mb-1" id="email">Email: <%= data.email %></div>
          <div class="subheading mb-1" id="dob">Date of Birth: <%= data.dob %></div>
          <div class="subheading mb-1" id="phone">Address: <%= data.address %></div>
        </div>
      </section>
    </div>   

    <% include ./partials/bootjs %>


  </body>

</html>
