<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ('./partials/head') %>

    <style>
       
    .emp-profile{
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: aliceblue;
    }
    .profile-img img{
        display: block;
        max-width: 350px;
        max-height: 250px;
        width: 100%;
        height: auto;
    }
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color: #0062cc;
    }
    .profile-head .nav-tabs{
        margin-bottom:1%;
        margin-left: 6%;
    }
    .profile-head .nav-tabs .nav-link{
        font-weight:600;
        border: none;
        font-size: larger;
        font-style: oblique;
        font-size: 30px;
        margin-right: 10%;
    }
    .profile-head .nav-tabs .nav-link.active{
        border: none;
        border-bottom:2px solid #0062cc;
    }
    .profile-work{
        margin-left: 2%;
    }
    .profile-work p{
        font-weight: 600;
        font-size: 25px;
        color: black;
        margin-top: 10%;
    }
    .profile-tab label{
        font-weight: 600;
        font-size: 25px;
    }
    .profile-tab p{
        font-weight: 600;
        font-size: 20px;
        color: #0062cc;
    }
    .profile-tab a{
        font-weight: 600;
        font-size: 25px;
        color: #0062cc;
    }
    #view { display: none; }
    .tblcls th{
    color: #fff;
    background:#0062cc;
  }
    .tblcls td{
    color: #000;
    background:aliceblue;
  }
        </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" >
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="page-top" >
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="sideNav" style="background-color: #007bff;">
      <%- include ('./partials/navbar.ejs') %>
    </nav>
    <div class=" emp-profile "  style="margin-left:4%;margin-top:4%;margin-right: 4%;">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-img">
                        <img src="/profileupdate"  id="profilepic" name="profilepic" onerror="this.src='/images/profile.jpg';" />  
                    </div>  
                </div>
                <div class="col-8" >
                    <div class="profile-head">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="programs-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="false">Programs</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-work">
                        <p>Email</p>
                        <a style="font-weight: 600;font-size: 20px;color: #0062cc;"><%= data.email %></a>
                        <p>Phone</p>
                        <a style="font-weight: 600;font-size: 20px;color: #0062cc;"><%= data.phone %></a>
                        <p>Address</p>
                        <a style="font-weight: 600;font-size: 20px;color: #0062cc;"><%= data.address %></a>
                    </div>
                </div>
                <div class="col-md-8" style="margin-left: 4%;">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <% var fullname = data.firstname +  " " + data.middlename + " " + data.lastname; %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= fullname %>  </p>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profession</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.title %></p>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Department</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.dept %></p>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Area of Specialization</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.aos %></p>
                                        </div>
                                    </div></br>                
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                        <div class="col-md-6">
                                            <label>Teaching </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.tinstitute %></p>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Duration</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.tduration %></p>
                                        </div>
                                    </div></br>
                                    <div class="row">
                                            <div class="col-md-6">
                                                <label>Industry</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= data.iinstitute %></p>
                                            </div>
                                        </div></br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Duration</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><%= data.iduration %></p>
                                        </div>
                                    </div></br>
                        </div>
                        <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Faculty Development Program</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="fdpa" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Short Term Training Program</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="sttpa" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Conferences</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="ca" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Journals</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="ja" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Seminars/Workshops Attended</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="swaa" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>RnD/Consultancy</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="rca" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Programs Attended</label>
                                </div>
                                <div class="col-md-6">
                                    <a id="paa" rel="view" href="#view" class="link"></a>
                                </div>
                            </div></br>
                            
                </div>
                    </div>
                </div>
            </div>          
    </div>
    <div id="view" class="box"  style="margin-right:4%;margin-left: 4%;">
    </div>
    <script>
          
            
            function number(url, id)
            {
                $.getJSON(url, function(data) {
                    var count = Object.keys(data).length;
                    console.log(count);
                    $(id).text(count); 
                });
            }  
           function create(rel, id, url, url1,url2, files)
            {
                const request = new XMLHttpRequest();
                request.open('GET', url);
                request.send(); 
                var titlemrg = new Array("Category","Title","Authority","Year Approved","Grant Approved");
                var titleprogatt = new Array("Date","Type"," Title"," College","Sponsorship","No of Days");
                var titlesemwork = new Array("Date"," College"," No of Days","Date","Type");
                var titlefdpsstp = new Array("Date"," Title"," College","No of Days","Sponsorship");
                var titlescon = new Array("International/National","Main Author","ISSN","Date"," Title ","Research Title","DUI");
                var titlesjor = new Array("Date","Title","Research Title","ISSN"," International/National ","Main Author","DUI");
                request.onload = function() {
                if (request.status === 200) {
                    console.log("Success"); 
                    data = JSON.parse(request.response);
                    console.log(Object.keys(data[0]));
                    var key = Object.keys(data[0])[1];

                    var table = document.createElement("table");
                    table.setAttribute("class", "tblcls table table-striped table-primary");
                    var tr = table.insertRow(-1);
                    var col = [];
                    for (var i = 0; i < data.length; i++) {
                        for (var keys in data[i]) {
                            if (col.indexOf(keys) === -1) {
                                col.push(keys);
                            }
                        }
                    }
                    if(key=="ci")
                    {
                        for(keys in titlescon)
                        {
                            var th = document.createElement("th");
                            th.innerHTML = titlescon[keys];
                            tr.appendChild(th);
                        }
                
                    }
                    else if(key=="jdate")
                    {
                        for(keys in titlesjor)
                        {
                          
                            var th = document.createElement("th");
                            th.innerHTML = titlesjor[keys];
                            tr.appendChild(th);
                        }
                    } 
                    else if(key=="fdpdate" || key=="sttpdate")
                    {
                        for(keys in titlefdpsstp)
                        {
                          
                            var th = document.createElement("th");
                            th.innerHTML = titlefdpsstp[keys];
                            tr.appendChild(th);
                        }
                    }
                    else if(key=="swdate")
                    {
                        for(keys in titlesemwork)
                        {
                        
                            var th = document.createElement("th");
                            th.innerHTML = titlesemwork[keys];
                            tr.appendChild(th);
                        }
                    } 
                    else if(key=="patdate")
                    {
                        for(keys in titleprogatt)
                        {
                            
                            var th = document.createElement("th");
                            th.innerHTML = titleprogatt[keys];
                            tr.appendChild(th);
                        }
                    }
                    else
                    {
                        for(keys in titlemrg)
                        {
                           
                            var th = document.createElement("th");
                            th.innerHTML = titlemrg[keys];
                            tr.appendChild(th);
                        }
                    }  
                    
                    var th = document.createElement("th");
                    th.innerHTML = 'Action';
                    tr.appendChild(th);

                    for (var i = 0; i < data.length; i++) {
                        tr = table.insertRow(-1);
                        var tabCell = ""
                        var id = 0;
                        for (var j = 1; j <= col.length; j++) {
                            tabCell = tr.insertCell(-1);
                            if(data[i][col[j]] == "Inter")
                                tabCell.innerHTML = "International"
                            else if(data[i][col[j]] == "Nat")
                                tabCell.innerHTML = "National"
                            else
                                tabCell.innerHTML = data[i][col[j]];
                            
                        }
                        id = data[i]["id"];
                        tabCell.innerHTML = " <a class=\"btn btn-primary btn-xs\" href=\"" +url1 + "file-viewer/" + id + "\"><i class=\"fa fa-download\"></i></a> <a class=\"btn btn-primary btn-xs\" href=\"" + url1 + id + "\"><i class=\"fa fa-edit\"></i></a> <button class=\"btn btn-danger btn-xs\" onclick=\"deleteData("+ id + ","+ url1 + ")\" ><i class=\"fa fa-trash\"></i></button>";
                        
                    }
                    var divContainer = document.getElementById("view");
                    divContainer.innerHTML = "";
                    divContainer.appendChild(table);
                    } 
                };
            }  
            function deleteData(id,url,files) {

            var result = confirm("Are you sure you want to delete?");
             if(result)
             {
                 $.ajax(
                     {
                           url:  url  + id,
                           type: 'DELETE',
                           data: {
                                 "id": id,
                                },
                          success: function (data){
                            console.log(data);
                           location.reload(true);
                     }
                   });
             }
                } 
            number('/fdp/files', '#fdpa');
            number('/sttp/files', '#sttpa');
            number('/conference/files', '#ca');
            number('/journal/files', '#ja');
            number('/semwork/files', '#swaa');
            number('/mrg/files', '#rca');
            number('/progatt/files', '#paa');      
            $('.link').click(function(){
                var id = $(this).attr("id");
                var rel = $(this).attr("rel");
                url = "";
                var files= "files";
                switch (id) {
                    case 'fdpa':
                        url = "/fdp/files";
                        url2 = "fdp";
                        url1 = "/fdp/";
                        break;
                    case 'sttpa':
                    url = "/sttp/files";
                        url2 = "sttp";
                        url1 = "/sttp/";
                        break;
                    case 'ca':
                    url = "/conference/files";
                        url2 = "conference";
                        url1 = "/conference/";
                        break;
                    case 'ja':
                    url = "/journal/files";
                        url2 = "journal";
                        url1 = "/journal/";
                        break;
                    case 'swaa':
                    url = "/semwork/files";
                        url2 = "semwork";
                        url1 = "/semwork/";
                        break;
                    case 'rca':
                    url = "/mrg/files";
                        url2 = "mrg";
                        url1 = "/mrg/";
                        break;
                    case 'paa':
                    url = "/progatt/files";
                        url2 = "progatt";
                        url1 = "/progatt/";
                        break;
                   
                }
                create(rel, id, url, url1,url2, files);
                $('#'+rel).show();
            });
    </script>    
    <%- include ('./partials/bootjs.ejs') %>
  </body>

</html>
