<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head') %>


<!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body id="page-top" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <%- include ('./partials/navbar.ejs') %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
   <br class=" p-lg-4 " id="update">
      <form method="POST" action="/mrg" enctype="multipart/form-data">
        <div class="my-auto item" id="documents">
          
        <h4 style="color:black;font-size:35px;margin-left:25%;"> Research & Development / Consultancy  </h4>
        </br>
        <input id="id" name="id" type="hidden" value="<%- id %>">
       
        <label> Category </label></br>
        <select id="mrgcat" name="mrgcat" style="width: 24%;padding:5px;">
        <option value="TQEP" <%= mrgcat == 'TQEP' ? 'selected' : '' %> > TQEP </option>
        <option value="MRG" <%= mrgcat == 'MRG' ? 'selected' : '' %> > MRG </option>
        <option value="IDC" <%= mrgcat == 'IDC' ? 'selected' : '' %> > IDC </option>
        </select>
        </br>

        <label > Year Approved</label></br>
        <select id="mrgya" type="text" name="mrgya" value="<%- mrgya %>" style="width: 24%;padding:5px;"></select></br> 
        
        <label > Title</label></br>
        <input id="mrgt" type="text" name="mrgt" value="<%- mrgt %>"/></br>

        <label > Authority Approved </label></br>
        <input id="mrgauth" type="text" name="mrgauth" value="<%- mrgauth %>"/></br>

        <label > Grant Approved </label></br>
        <input id="mrgga" type="text" name="mrgga" value="<%- mrgga %>"/></br>

        <label> Upload Certificate </label></br>
        <div class="fallback">
        <input name="mrgcerti" type="file" multiple id="mrgcerti" value="" /></br>
        </div>

        <label> Upload Report </label></br>
        <div class="fallback">
        <input name="mrgcerti" type="file" multiple id="mrgr" value="" /></br>
        </div>
      </br>
    </div>
      <button class="btn btn--radius-2 btn--red" type="submit"> Upload </button></br>
    </div>
  </form>
  </section>
  </div>
   
   <!-- Bootstrap core JavaScript -->
 <script src="/vendorresume/jquery/jquery.js"></script>
 <script src="/vendorresume/bootstrap/js/bootstrap.bundle.js"></script>

 <!-- Plugin JavaScript -->
 <script src="/vendorresume/jquery-easing/jquery.easing.js"></script>

 <!-- Custom scripts for this template -->
 <script src="/js/resume.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    var end = 1900;
    var start = new Date().getFullYear();
    var options = "";
    for(var year = start ; year >=end; year--){
      options += "<option value=\"" + year + "\">" + year + "</option>";
      }
    document.getElementById("mrgya").innerHTML = options;

    
   </script>
</body>

</html>