<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <link href="css/custom.css" rel="stylesheet">
</head>

<body id="page-top" >

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbaradmin %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="report">
      <form method="POST" action="/generatereport">
        <div class="my-auto item" id="documents">
          
        </br><h4>Report Generation</h4>
        </br>

        <label >Year</label></br>
        <input id="ryear" type="text" name="ryear" value="<%- ryear %>"/>

        <label >Research Title</label></br>
        <input id="jrpt" type="text" name="jrpt" value="<%- jrpt %>"/>

        <label>Depatment</label></br>
        <select id="rdept" name="rdept" style="width: 25%;padding:5px;">
        <option value="<%- rdept %>" selected="selected" >Select One</option>
        <option value="CS">Computer Science</option>
        <option value="IT">IT</option>
        <option value="ELEX">Electronics</option>
        <option value="PROD">Production</option>
        </select>
        </br>

        <label>International/National</label></br>
        <select id="ri" name="ri" style="width: 25%;padding:5px;">
        <option value="<%- ri %>" selected="selected" >Select One</option>
        <option value="International" > International </option>
        <option value="National" > National </option>
        </select>
        </br>

        <label>Category</label></br>
        <select id="rma" name="rma" style="width: 25%;padding:5px;">
        <option value="<%- rma %>" selected="selected" >Select One</option>
        <option value="fdp" > Faculty Development Program </option>
        <option value="sttp" > Short Term Training Programs </option>
        <option value="mrg" > MRG </option>
        <option value="journal" > Journals </option>
        <option value="conference" > Conference </option>
        <option value="progatt" > Programs Attended </option>
        <option value="seminar" > Seminar </option>
        <option value="workshop" > Workshops </option>
        </select>
        </br>

    </div>
      <button class="btn btn--radius-2 btn--red" type="submit"> Report </button>
    </div>
  </form>
  </section>
  </div>
   
  <% include ./partials/bootjs %>
  <script>
    $( function() {
      $( "#ryear" ).yearpicker();
    } );
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>