<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <link href="css/custom.css" rel="stylesheet">
</head>

<body id="page-top" onload="loadAgeSelector()">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbar %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="update">
      <form method="POST" action="/updated">
        <div class="my-auto item" id="documents">
          
        </br><h4> Short Term Training Programs </h4>
        </br>

        <label > Date</label></br>
        <input id="sttpdate" type="text" name="sttpdate" value="<%- sttp.sttpdate %>"/>
        
        <label > Title</label></br>
        <input id="sttpt" type="text" name="jt" value="<%- sttp.sttpt %>"/>

        <label > College</label></br>
        <input id="sttpcol" type="text" name="sttpcol" value="<%- sttp.sttpcol %>"/>

        <label > No. of Weeks </label></br>
        <input id="sttpnw" type="text" name="sttpnw" value="<%- sttp.sttpnw %>"/>
        
        <label>Upload Certificate</label></br>
        <div class="fallback">
        <input name="sttpcerti" type="file" multiple id="sttpcerti" value="<%- sttp.sttpcerti %>" />
        </div>

    </div>
      <button class="btn btn--radius-2 btn--red" type="submit"> Upload </button>
    </div>
  </form>
  </section>
  </div>
   
  <% include ./partials/bootjs %>
  <script>
    $( function() {
      $( "#sttpdate" ).datepicker();
    } );
    </script>
  <script src="js/dropzone.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</body>

</html>