<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head.ejs') %>
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body id="page-top" >

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <%- include ('./partials/navbar.ejs') %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="update">
      <form method="POST" action="/updated" enctype="multipart/form-data">

        <div class="my-auto item" id="personal">
          <h4><label for="title" style="color:black;font-size:24px;">Title<span>*</span></label></h4>
          <input id="title" type="text" name="title" value="<%- data.title %>" required/>

          <h4><label for="name" style="color:black;font-size:24px;">Name<span>*</span></label></h4>
          <div class="name-item">
            <input type="text" name="firstname" id="firstname" placeholder="First" value="<%- data.firstname %>" required />
            <input type="text" name="middlename" id="middlename" placeholder="Middle" value="<%- data.middlename %>" />
            <input type="text" name="lastname" id="lastname" placeholder="Surname" value="<%- data.lastname %>" required />
          </div>

          <h4><label for="fname" style="color:black;font-size:24px;">Father Name<span>*</span></label></h4>
          <input id="fname" type="text" name="fname" value="<%- data.fname %>" required />

          <h4><label for="mname" style="color:black;font-size:24px;">Mother Name<span>*</span></label></h4>
          <input id="mname" type="text" name="mname" value="<%- data.mname %>" required />

          <h4><label style="color:black;font-size:24px;">Gender<span>*</span></label></br></h4>
          <select id="gender" name="gender" style="width: 25%;padding:5px;" required>
            <option value="male" <%= data.gender == 'male' ? 'selected' : '' %> >Male</option>
            <option value="female" <%= data.gender == 'female' ? 'selected' : '' %> >Female</option>
          </select></br>

          <h4><label for="bdate" style="color:black;font-size:24px;">Date of Birth<span>*</span></label></h4>
          <input id="bdate" style="width:24%;" type="text" name="bdate" value="<%- data.bdate %>" required/>
         

          <h4><label for="address" style="color:black;font-size:24px;">Address<span>*</span></label></h4>
          <textarea id="address" name="address" rows="2" style="height:150px;" required><%- data.address %></textarea>

          <h4><label for="phone" style="color:black;font-size:24px;">Phone No<span>*</span></label></h4>
          <input id="phone" type="text" name="phone" value="<%- data.phone %>" required/>

          <h4><label for="email" style="color:black;font-size:24px;">Email<span>*</span></label></h4>
          <input id="email" type="email" name="email" value="<%- data.email %>" required/>

          <h4><label style="color:black;font-size:24px;">Department<span>*</span></label></br></h4>
          <select id="dept" name="dept" style="width: 25%;padding:5px;" required>
            <option value="Computer Science"<%= data.dept == 'Computer Science' ? 'selected' : '' %>>Computer Science</option>
            <option value="Information Technology"<%= data.dept == 'Information Technology' ? 'selected' : '' %>>IT</option>
            <option value="Electronics and Computer Science"<%= data.dept == 'Electronics and Computer Science' ? 'selected' : '' %>>Electronics</option>
            <option value="Production" <%= data.dept == 'Production' ? 'selected' : '' %>>Production </option>
          </select>

          <h4><label for="aos" style="color:black;font-size:24px;">Area of Specialization<span>*</span></label></h4>
          <input id="aos" type="text" name="aos" value="<%- data.aos %> " required/>

          <h4><label for="name" style="color:black;font-size:24px;">Profile Picture<span></span></label></h4>
          <input type="file" id="profile-upload" name="profile" />  
        </div>

        <div class="my-auto item" id="education">

          </br>
          <h4>Under Graduate<span>*</span></h4>
          </br>

          <label for="upgyear">Passing Year</label>
          <input id="upgyear" type="text" name="upgyear" required value="<%- data.upgyear %> "/>

          <label for="uggrade">Marks(%)/Grade</label>
          <input id="uggrade" type="text" name="uggrade" required value="<%- data.uggrade %>" />

          <label for="ugu">University/Board</label>
          <input id="ugu" type="text" name="ugu" required value="<%- data.ugu %>" />

          <label for="ugi">Institute</label>
          <input id="ugi" type="text" name="ugi" required value="<%- data.ugi %>" />

          <label>Regular/Distance</label></br>
          <select id="ugr" name="ugr" style="width: 25%;padding:5px;margin-bottom:3%;" >
            <option value="Regular" <%= data.ugr == 'Regular' ? 'selected' : '' %>>Regular</option>
            <option value="Distance" <%= data.ugr == 'Distance' ? 'selected' : '' %>>Distance</option>
          </select>

          </br>
          <h4>Post Graduate<span>*</span></h4>
          </br>


          <label for="pgyear">Passing Year</label>
          <input id="pgyear" type="text" name="pgyear" value="<%- data.pgyear %>" required  />

          <label for="pggrade">Marks(%)/Grade</label>
          <input id="pggrade" type="text" name="pggrade" value="<%- data.pggrade %>"  required/>

          <label for="pgu">University/Board</label>
          <input id="pgu" type="text" name="pgu" value="<%- data.pgu %>" required/>

          <label for="pgi">Institute</label>
          <input id="pgi" type="text" name="pgi" value="<%- data.pgi %>" required/>

          <label>Regular/Distance</label></br>
          <select id="pgr" name="pgr" style="width: 25%;padding:5px;margin-bottom:3%;" >
            <option value="Regular" <%= data.pgr == 'Regular' ? 'selected' : '' %>>Regular</option>
            <option value="Distance" <%= data.pgr == 'Distance' ? 'selected' : '' %>>Distance</option>
          </select>

          </br>
          <h4>Specialization</h4>
          </br>

          <label for="spyear">Passing Year</label>
          <input id="spyear" type="text" name="spyear" value="<%- data.spyear %>" />

          <label for="spgrade">Marks(%)/Grade</label>
          <input id="spgrade" type="text" name="spgrade" value="<%- data.spgrade %>" />

          <label for="spu">University/Board</label>
          <input id="spu" type="text" name="spu" value="<%- data.spu %>"/>

          <label for="spi">Institute</label>
          <input id="spi" type="text" name="spi" value="<%- data.spi %>" />

          <label>Regular/Distance</label></br>
          <select id="spr" name="spr" style="width: 25%;padding:5px;" >
            
            <option value="Regular" <%= data.spr == 'Regular' ? 'selected' : '' %>>Regular</option>
            <option value="Distance" <%= data.spr == 'Distance' ? 'selected' : '' %>>Distance</option>
          </select></br>

        </div>

        <div class="my-auto item" id="experience">

        
        <div class="input_fields_wrap">
          <h4> Teaching Experience<button class="add_field_button btn1" style="margin-left: 74%;"> ADD </button></h4>
          <label for="tinstitute">Institute</label>
          <input id="tinstitute" type="text" name="tinstitute"  value="<%- data.tinstitute %>" required/>
          <label for="tpost">Post</label>
          <input id="tpost" type="text" name="tpost"  value="<%- data.tpost %>" required/>
          <label for="tduration">Duration</label>
          <input id="tduration" type="text" name="tduration"  value="<%- data.tduration %>" required/>
        </div>

        <div class="input_fields_wrap1">    
          <h4> Industrial Experience<button class="add_field_button1 btn1" style="margin-left:72%;"> ADD</button></h4>
          <label for="iinstitute">Industry</label>
          <input id="iinstitute" type="text" name="iinstitute"  value="<%- data.iinstitute %>" required/>
          <label for="ipost">Post</label>
          <input id="ipost" type="text" name="ipost"  value="<%- data.ipost %>" required/>
          <label for="iduration">Duration</label>
          <input id="iduration" type="text" name="iduration"  value="<%- data.iduration %>" required/>
        </div>

        <div class="input_fields_wrap2">
          <h4> Other Experience<button class="add_field_button2 btn1" style="margin-left: 77%;" > ADD  </button></h4>
          <label for="oinstitute">Institute</label>
          <input id="oinstitute" type="text" name="oinstitute"  value="<%- data.oinstitute %>" />
          <label for="opost">Post</label>
          <input id="opost" type="text" name="opost"  value="<%- data.opost %>" />
          <label for="oduration">Duration</label>
          <input id="oduration" type="text" name="oduration"  value="<%- data.oduration %>" />
        </div>


  </div>
  <button class="btn btn--radius-2 btn--red" type="submit"> Upload </button>
  </div>
  </form>
  </section>

  </div>
   
  <%- include ('./partials/bootjs.ejs') %>
  <script>
    $( function() {
      $( "#bdate" ).datepicker();
    } );
    </script> 
    
  <script> 
      $(document).ready(function() {
        var max_fields      = 4; //maximum input boxes allowed
        var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID
        var wrapper1   		= $(".input_fields_wrap1"); //Fields wrapper
        var add_button1      = $(".add_field_button1"); //Add button ID
        var wrapper2   		= $(".input_fields_wrap2"); //Fields wrapper
        var add_button2      = $(".add_field_button2"); //Add button ID
        
        var x = 1; //initlal text box count

        $(add_button).click(function(e){ //on add input button click
          e.preventDefault();
          if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><label> Institute </label><input type="text" name="tinstitute"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper).append('<div><label> Post </label><input type="text" name="tpost"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper).append('<div><label> Duration </label><input type="text" name="tduration"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });
        
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })

        $(add_button1).click(function(e){ //on add input button click
          e.preventDefault();
          if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper1).append('<div><label> Industry </label><input type="text" name="iinstitute"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper1).append('<div><label> Post </label><input type="text" name="ipost"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper1).append('<div><label> Duration </label><input type="text" name="iduration"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });
        
        $(wrapper1).on("click",".remove_field", function(e){ //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })

        $(add_button2).click(function(e){ //on add input button click
          e.preventDefault();
          if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper2).append('<div><label> Institute </label><input type="text" name="oinstitute"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper2).append('<div><label> Post </label><input type="text" name="opost"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper2).append('<div><label> Duration </label><input type="text" name="oduration"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          }
        });
        
        $(wrapper2).on("click",".remove_field", function(e){ //user click on remove text
          e.preventDefault(); $(this).parent('div').remove(); x--;
        })
      });
  </script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>