<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <link href="css/custom.css" rel="stylesheet">
</head>

<body id="page-top" >

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <% include ./partials/navbar %>
  </nav>
  <div class="container-fluid p-0" style="width:69%;margin-right:10%;">
    <section class=" p-lg-4 " id="update">
      <form method="POST" action="/updated">
        <div class="my-auto item" id="documents">
          
        </br><h4> Faculty Development Program </h4>
        </br>

        <label > Date</label></br>
        <input id="fdpdate" type="text" name="fdpdate" value="<%- fdp.fdpdate %>"/>
        
        <label > Title</label></br>
        <input id="fdpt" type="text" name="fdpt" value="<%- fdp.fdpt %>"/>

        <label > College </label></br>
        <input id="fdpcol" type="text" name="fdpcol" value="<%- fdp.fdpcol %>"/>

        <label > No. of Days </label></br>
        <input id="fdpnd" type="text" name="fdpnd" value="<%- fdp.fdpnd %>"/>

        <label>Upload Certificate</label></br>
        <div class="fallback">
        <input name="fdpcerti" type="file" multiple id="fdpcerti" value="<%- fdp.fdpcerti %>" />
        </div>

    </div>
      <button class="btn btn--radius-2 btn--red" type="submit"> Upload </button>
    </div>
  </form>
  </section>
  </div>
   
  <% include ./partials/bootjs %>
  <script>
    $( function() {
      $( "#fdpdate" ).datepicker();
    } );
    </script>
  <script src="js/dropzone.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>